@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html,
body,
#root {
  height: 100%;
  min-height: 100%
}

.App {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 950px) {
  div .container {
    width: 100%;
    height: 100%;
  }

  .top {
    width: 100%;
    height: 100%;
  }

  .bottom {
    width: 100%;
    flex-direction: column;
  }

  div .card {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px 0 8px 0;
  }

  div .card:not(:last-child) {
    border-bottom: 1px solid #888888;
    border-right: 0px;
  }

  div .card h5 {
    margin: 20px 0;
  }

  div .card h6 {
    margin: 22px 0;
  }

  .minmax {
    min-width: 6rem;
  }

  .minmax .tempmax {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-bottom: 8px solid #ff4136;
    margin-top: -15px;
  }

  .minmax .tempmin {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;

    border-top: 8px solid #0074d9;
    margin-top: -15px;
  }
}

.container {
  width: 900px;
  height: 600px;
  border-radius: 20px;
  box-shadow: 5px 5px 25px #888888;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.9fr 1fr;
  grid-template-areas:
    "top"
    "bottom";
}

.top {
  display: flex;
  border-radius: 20px 20px 0 0;
  background-size: cover;
  align-content: flex-end;
  justify-content: space-around;
  flex-direction: column;
  grid-area: top;
  text-align: end;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.image {
  height: 128px;
  width: 128px;
  align-self: flex-end;
}

.city {
  margin: 0 8px;
}

.temp {
  font-size: 95px;
  padding: 0 10px 0 0;
  margin: 0;
  font-weight: bolder;
}

.temphr {
  padding: 0 8px;
}

.minmax {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: space-around;
  font-weight: bolder;
}

.minmax p {
  margin-bottom: 5px;
}

.tempmax {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid #ff4136;
  margin-top: -25px;
}

.tempmin {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 15px solid #0074d9;
  margin-top: -25px;
}

.bottom {
  max-width: 100%;
  border-radius: 0 0 20px 20px;
  display: flex;
  grid-area: bottom;
  background: #fff;
  color: #282c34;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  grid-template-rows: auto;
}

.card {
  width: 100%;
  height: 100%;
}

.card:not(:last-child) {
  border-right: 1px solid gray;
}

.card h5 {
  margin: 14px 0 7px 0;
}

.card h6 {
  font-size: .6em;
  margin: 0;
  color: #888888;
}

.imagebottom {
  width: 64px;
  height: 64px;
}